*/__pycache__/*
**/__pycache__/
macros/35dura.txt
macros/food.txt
macros/cust.txt
macros/skysteel.txt
macros/skysteel2.txt
macros/yellow.txt
env/
.profiles.json
notes.txt
profiles.json
exec.spec
build/*
.logs.json
test.py
cookie.txt
